
body {  
    background-color: rgb(230, 173, 198);  
}  
h3 {  
    color: rgb(128, 0, 9);  
    margin-left: 20px;  

} 
p {  
    font-family: Arial, sans-serif;  
    font-size: 14px;  
    color:blueviolet
}  